/**
 * Welcome to your theme code! 
 * It is an a CSS code. 
 * You can edit it as you want! 
*/
/* variables can be put here */
:root {
	/* Unread messages color */
    --unreaded-messages-color: initial;
    
    /* Body color and 90% text color */
    --unt-background-color: initial;
    --unt-background-light-color: initial;
    --unt-text-color: blue;
    
    /* Custom user image and interface opacity */
    --unt-user-background: initial;
    --unt-opacity: initial;
    /* Sidenav user info div coloring */
    --unt-sidenav-background: initial;
    
    /* Collections color (right menu, left menu on PC, etc) */
    --unt-collection-background-color: initial;
    --unt-section-item-background-color: initial;
    --unt-collection-text-color: initial;
    
    /* Currently selected items */
    --unt-collection-active-background: initial;
    
    /* In modal buttons text color (flat buttons) */
    --unt-flat-btn-text-color: initial;
    
    /* SVG Icons fill color */
    --svg-fill-color: initial;
    
    /* Subtext (chats members count, online, etc) text color */
    --unt-subtext-color: initial;
    
    /* Right and left active items */
    --unt-active-item-color: initial;
    --unt-active-borded-color: initial;
    
    /* Hovered collection and collapsible colors */
    --hovered-collection-items-color: initial;
    --hovered-collapsible-items-color: initial;
    
    /* Default collapsible colors */
    --unt-collapsible-header-color: initial;
    --unt-collapsible-body-color: initial;
    --unt-collapsible-items-color: initial;
    --unt-collapsible-text-color: initial;
    
    /* Navigation panel color */
    --unt-navigation-panel-color: initial;
    
    /* Cards color */
    --unt-background-card-color: initial;
    
    /* Links (href) color */
    --unt-links-color: initial;
    
    /* Text input colors */
    --unt-input-text-color: initial;
    
    /* Unliked icons color */
    --unt-unlike-color: initial;
    
    /* Modals background colors */
    --unt-modals-background-color: initial;
    
    /* Dropdown background and hovered colors */
    --unt-dropdown-background-color: initial;
    --unt-dropdown-hovered-color: initial;
    
    /* Divider background color */
    --unt-divider-background-color: initial;
    
    /* Messages from me and from another colors */
    --from-me-messages-background: initial;
    --from-another-messages-background: initial;
    --from-me-messages-text-color: initial;
    --from-another-messages-text-color: initial;
    
    /* Notifications background color */
    --unt-notifications-background-color: initial;
    
    /* Counters color (messages, friends, etc) */
    --unt-counters-color: initial;
}