:root {
    /* Unread messages color */
    --unreaded-messages-color: #0288d1;
    
    /* Body color and 90% text color */
    --unt-background-color: #01579b;
    --unt-background-light-color: #0277bd;
    --unt-text-color: white;
    
    /* Custom user image and interface opacity */
    --unt-user-background: initial;
    --unt-opacity: 1;
    
    /* Collections color (right menu, left menu on PC, etc) */
    --unt-collection-background-color: #0277bd;
    --unt-section-item-background-color: #0277bd;
    --unt-collection-text-color: white;
    
    /* Currently selected items */
    --unt-collection-active-background: #039be5;
    
    /* In modal buttons text color (flat buttons) */
    --unt-flat-btn-text-color: white;
    
    /* SVG Icons fill color */
    --svg-fill-color: white;
    
    /* Subtext (chats members count, online, etc) text color */
    --unt-subtext-color: #03a9f4;
    
    /* Right and left active items */
    --unt-active-item-color: #0288d1;
    --unt-active-borded-color: white;
    
    /* Hovered collection and collapsible colors */
    --hovered-collection-items-color: #039be5;
    --hovered-collapsible-items-color: #039be5;
    
    /* Default collapsible colors */
    --unt-collapsible-header-color: #ef6c00;
    --unt-collapsible-body-color: #ef6c00;
    --unt-collapsible-items-color: #ef6c00;
    --unt-collapsible-text-color: white;
    
    /* Navigation panel color */
    --unt-navigation-panel-color: #ef6c00;
    
    /* Cards color */
    --unt-background-card-color: #ef6c00;
    
    /* Links (href) color */
    --unt-links-color: white;
    
    /* Text input colors */
    --unt-input-text-color: white;
    
    /* Unliked icons color */
    --unt-unlike-color: white;
    
    /* Modals background colors */
    --unt-modals-background-color: #ef6c00;
    
    /* Dropdown background and hovered colors */
    --unt-dropdown-background-color: #ef6c00;
    --unt-dropdown-hovered-color: #039be5;
    
    /* Divider background color */
    --unt-divider-background-color: #ef6c00;
    
    /* Messages from me and from another colors */
    --from-me-messages-background: #0277bd;
    --from-another-messages-background: #0277bd;
    --from-me-messages-text-color: white;
    --from-another-messages-text-color: white;
    
    /* Notifications background color */
    --unt-notifications-background-color: #0277bd;
    
    /* Counters color (messages, friends, etc) */
    --unt-counters-color: white;
}